**3. Repeated Measures ANOVA**
>  Repeated Measures ANOVA is used when the same subjects are measured more than once, meaning the data is collected from the same group under different conditions. This test helps in analyzing the changes in the dependent variable over time or under different conditions within the same subjects.
> |  |  |  |
> |--|--|--|
> | $H_0$ | $μ_1 = μ_2 =... = μ_n$                          | → There are no difference between means of the dependent groups. |
> | $H_1$ | $∃i,j \ \ such\ that \ \ i ≠ j\ and\ μ_i ≠ μ_j$ | → At least one dependent group with a different mean. |
>
> Rejecting the null hypothesis does not tell you where the differences lie. Therefore, the next step is to conduct (Bonferroni) post-hoc tests to determine which groups has differences.
> 
> **ASSUMTIONS**
> >  → Dependent variables should be approximately normally distributed. <br>
> >  → The variances of the differences between all combinations of factor levels should be same. (Sphericity)
> > > *This assumption can be check with **Mauchly's Test of Spericity**. If the assumption is violated, adjustments, to degrees of freedom, such as **Greenhouse–Geisser correction** or **Huynh–Feldt correction** can be use.*
> > 
> > → Cases should be derived from a random sample, and scores from different participants should be independent of each other.
>

<p style="background-image: linear-gradient(to right, #0aa98f, #68dab2)"> &nbsp; </p>

In [1]:
import pandas as pd
import pingouin as pg

<p style="background-image: linear-gradient(#0aa98f, #ffffff 10%); font-weight:bold;"> 
    &nbsp; Functions to Use </p>

In [2]:
α = alpha = 0.05

def decision(p, alpha=0.05):
    'acceptance or rejection of the null hypothesis'
    if p < alpha: return 'H0 rejected.'
    else: return 'H0 cannot be rejected.'

<p style="background-image: linear-gradient(to right, #0aa98f, #68dab2)"> &nbsp; </p>

<p style="background-image: linear-gradient(#0aa98f, #ffffff 10%); font-weight:bold;"> 
    &nbsp; REPEATED MEASURES ANOVA </p>

**Subject :** Comparison of athletes' finish times based on different types of shoes <br>
**Data :** 8_athletes_shoe_times.csv

|  |  |
|--|--|
| $H_0$ | → There is no difference in average finish times for athletes using different types of shoes.|
| $H_1$ | → At least one shoe type leads to significantly different average finish times compared to others.|

In [3]:
data = pd.read_csv('data/08_athletes_shoe_time.csv')
display(data.head(3))

   Athlete_ID  Shoe_A  Shoe_B  Shoe_C  Shoe_D
0           1      70      85      80      87
1           2      78      82      77      80
2           3      61      70      64      72

**1. Data Preparation**

In [4]:
data = data.melt(id_vars=['Athlete_ID'], value_vars=data.columns[1:])
data.columns=['Athlete_ID', 'Shoe', 'Time']
display(data.sample(3))

    Athlete_ID    Shoe  Time
5            6  Shoe_A    79
21           4  Shoe_D    88
8            3  Shoe_B    70

**2. Normality Test**

In [5]:
normality = pg.normality(data, dv='Time', group='Shoe', method='shapiro', alpha=alpha)

display(normality)

               W      pval  normal
Shoe
Shoe_A  0.968747  0.883916    True
Shoe_B  0.898116  0.362914    True
Shoe_C  0.924450  0.537977    True
Shoe_D  0.943039  0.683772    True

**3. Spericity Test** - Mauchly's Test of Spericity

In [6]:
spericity = pg.sphericity(data, dv='Time', subject='Athlete_ID', within='Shoe')

display(spericity)
print(f'p: {spericity.pval:.4f}')
print('Decision:', decision(spericity.pval, α))

SpherResults(spher=True, W=0.8281618568393134, chi2=0.7018125842520657, dof=5, pval=0.983446638842021)

p: 0.9834
Decision: H0 cannot be rejected.

**4. Test Implementation** - Repeated Measures ANOVA

In [7]:
test = pg.rm_anova(data=data, dv='Time', subject='Athlete_ID', within='Shoe') # correction=True
test['Decision'] = test['p-unc'].map(lambda x: True if x>alpha else False)
display(test)

  Source  ddof1  ddof2         F     p-unc       ng2       eps  Decision
0   Shoe      3     15  8.577356  0.001484  0.180559  0.892284     False

**5. Test Implementation** - Post-hoc

In [8]:
test = pg.pairwise_tests(data, dv='Time', subject='Athlete_ID', within='Shoe', padjust='bonf')
test['Decision'] = test['p-corr'].map(lambda x: True if x>alpha else False)
display(test)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges,Decision
0,Shoe,Shoe_A,Shoe_B,True,True,-3.939459,5.0,two-sided,0.010966,0.065795,bonf,6.437,-0.742846,True
1,Shoe,Shoe_A,Shoe_C,True,True,-1.493703,5.0,two-sided,0.195478,1.000000,bonf,0.803,-0.294251,True
2,Shoe,Shoe_A,Shoe_D,True,True,-4.687983,5.0,two-sided,0.005395,0.032369,bonf,11.003,-1.085784,False
3,Shoe,Shoe_B,Shoe_C,True,True,2.187411,5.0,two-sided,0.080358,0.482151,bonf,1.484,0.465871,True
4,Shoe,Shoe_B,Shoe_D,True,True,-0.979326,5.0,two-sided,0.372395,1.000000,bonf,0.539,-0.210473,True
5,Shoe,Shoe_C,Shoe_D,True,True,-2.738328,5.0,two-sided,0.040873,0.245240,bonf,2.42,-0.759886,True

**6. Display of Different Groups**

In [9]:
groups = data.groupby('Shoe')['Time'].mean()
groups.to_frame().T

Shoe  Shoe_A     Shoe_B     Shoe_C     Shoe_D
Time    74.5  83.333333  77.666667  85.833333

<p style="background-image: linear-gradient(to right, #0aa98f, #68dab2)"> &nbsp; </p>